<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">prescriptions List </h4>
                        <p class="card-category"> Here is a list of prescriptions</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Medicine Name
                                    </th>
                                    <th>
                                        Units
                                    </th>
                                    <th>
                                        Doses
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            test medi 01
                                        </td>
                                        <td>
                                            2
                                        </td>
                                        <td class="text-primary">
                                           2
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            test medi 01
                                        </td>
                                        <td>
                                            2
                                        </td>
                                        <td class="text-primary">
                                           2
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  