<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Appointment List </h4>
                        <p class="card-category"> below are the appointments</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Patient Name
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                       Address
                                    </th>
                                    <th>
                                        Doctor Name
                                    </th>
                                    <th>
                                        AprointMent Date
                                    </th>
                                    <th>
                                        AprointMent Time
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Test patient
                                        </td>
                                        <td>
                                            987784324
                                        </td>
                                        <td>
                                            abc, Hello city
                                        </td>
                                        <td>
                                            Test Doctor 
                                        </td>
                                        <td class="text-primary">
                                            10-Jan-2022
                                        </td>
                                        <td class="text-primary">
                                            10:00 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Test patient
                                        </td>
                                        <td>
                                            987784324
                                        </td>
                                        <td>
                                            abc, Hello city
                                        </td>
                                        <td>
                                            Test Doctor 
                                        </td>
                                        <td class="text-primary">
                                            10-Jan-2022
                                        </td>
                                        <td class="text-primary">
                                            10:00 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Test patient
                                        </td>
                                        <td>
                                            987784324
                                        </td>
                                        <td>
                                            abc, Hello city
                                        </td>
                                        <td>
                                            Test Doctor 
                                        </td>
                                        <td class="text-primary">
                                            10-Jan-2022
                                        </td>
                                        <td class="text-primary">
                                            10:00 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Test patient
                                        </td>
                                        <td>
                                            987784324
                                        </td>
                                        <td>
                                            abc, Hello city
                                        </td>
                                        <td>
                                            Test Doctor 
                                        </td>
                                        <td class="text-primary">
                                            10-Jan-2022
                                        </td>
                                        <td class="text-primary">
                                            10:00 AM
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  