<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Docter List</h4>
                      <p class="card-category"> List of all the docters..</p>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Doctor Name
                                </th>
                                <th>
                                    Phone
                                </th>
                                <th>
                                   Address
                                </th>
                                <th>
                                    Department 
                                </th>
                                <th>
                                    Total Visits
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Test Doctor
                                    </td>
                                    <td>
                                        987784324
                                    </td>
                                    <td>
                                        abc, Hello city
                                    </td>
                                    <td>
                                        Test Department 
                                    </td>
                                    <td class="text-primary">
                                        2
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Test Doctor
                                    </td>
                                    <td>
                                        987784324
                                    </td>
                                    <td>
                                        abc, Hello city
                                    </td>
                                    <td>
                                        Test Department 
                                    </td>
                                    <td class="text-primary">
                                        4
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Test Doctor
                                    </td>
                                    <td>
                                        987784324
                                    </td>
                                    <td>
                                        abc, Hello city
                                    </td>
                                    <td>
                                        Test Department 
                                    </td>
                                    <td class="text-primary">
                                       2
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Test Doctor
                                    </td>
                                    <td>
                                        987784324
                                    </td>
                                    <td>
                                        abc, Hello city
                                    </td>
                                    <td>
                                        Test Department 
                                    </td>
                                    <td class="text-primary">
                                        1
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
